---
import PageLayout from "@/layouts/Base.astro";

const meta = {
	description: "Learn more about me and this blog",
	title: "About",
};
---

<PageLayout meta={meta}>
	<section class="flex flex-col items-center justify-center min-h-screen">
		<h1 class="title mb-6">About JarEngine</h1>
		<p class="mb-4 text-lg text-center max-w-xl">
			Coming soon.
		</p>
	</section>
</PageLayout>
