---
import PageLayout from "@/layouts/Base.astro";
---

<PageLayout meta={{ title: "Docs" }}>
  <section class="flex flex-col items-center justify-center min-h-screen">
    <h1 class="title mb-6">Documentation</h1>
    <p class="mb-4 text-lg text-center max-w-xl">
      Coming soon.
    </p>
  </section>
</PageLayout>
